body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}